.navbar{
    margin-bottom: 0;
    border-radius: 0;
    border: none;
}
.navbar-default{
    border: 0;
}
.border-0{
    border: 0;
}
.jumbotron{
    margin-bottom: 0;
}
.mt-10{
    margin-top: 10px;
}
